* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  src: url("./fonts/code/codel.otf");
  font-family: codel;
}

@font-face {
  src: url("./fonts/code/codeb.otf");
  font-family: codeB;
}

body {
  font-family: "codel";
  font-size: 1em;
  text-rendering: optimizeLegibility;
}

.logo-container {
  width: 200px;
  height: 100px;
  margin-left: 40px;
  position: absolute;
}

.logo-container .logo-image {
  width: 100%;
  height: 100%;
}

.navbar-primary {
  height: 10vh;
  width: 100vw;
  max-width: 100%;
  background: #000000;
}

.navbar-primary .navbar-list {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-primary .navbar-list .navbar-element {
  font-size: 35px;
  display: inline-block;
  width: 33%;
  text-align: center;
}

.navbar-primary .navbar-list .navbar-element .navbar-link {
  color: #fff;
  text-decoration: none;
}

.navbar-secondary {
  height: 10vh;
  width: 100vw;
  background: #fff;
  text-align: right;
  max-width: 100%;
}

.navbar-secondary .navbar-list {
  padding: 20px;
  margin-right: 30px;
}

.navbar-secondary .navbar-list .navbar-element {
  display: inline-block;
  padding: 15px 20px;
  font-size: 35px;
  border: 1px solid #000;
  margin-left: 60px;
}

.navbar-secondary .navbar-list .navbar-element .navbar-link {
  color: #000;
  text-decoration: none;
}

.home {
  height: 80vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.13)), to(rgba(0, 0, 0, 0.116))), url("./images/1.jpg") no-repeat center;
  background: linear-gradient(rgba(0, 0, 0, 0.13), rgba(0, 0, 0, 0.116)), url("./images/1.jpg") no-repeat center;
  background-size: cover;
}

.home .hero-text-container {
  padding: 50px;
  position: absolute;
  top: 55%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: url("./images/herotext.png") no-repeat center;
  font-size: 35px;
  text-align: center;
  min-width: 40%;
}

.home .btn {
  padding: 10px 70px;
  position: absolute;
  top: 62%;
  left: 0;
  font-size: 40px;
  background: rgba(0, 0, 0, 0.767);
  font-family: "codeb";
}

.home .btn .btn-link {
  color: #fff;
  text-decoration: none;
}

.tiendafisica {
  font-family: "codeb";
  height: 100vh;
}

.tiendafisica .title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15%;
}

.tiendafisica .title-container .main-title {
  width: 35vw;
  background: #000;
  color: #ec881e;
}

.tiendafisica .title-container .secondary-title {
  width: 65vw;
}

.tiendafisica .title-container .main-title,
.tiendafisica .title-container .secondary-title {
  height: 100%;
  display: inline-block;
  padding: 20px;
  font-size: 50px;
  text-align: center;
  border-top: 30px solid #000;
  border-bottom: 3px solid #000;
}

.tiendafisica .tiendafisica-mainframe {
  height: 85%;
  max-width: 100%;
  background: #f0f0f0;
  margin: 0 auto;
  padding: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.562)), to(rgba(0, 0, 0, 0.507))), url("./images/2.jpg") no-repeat center;
  background: linear-gradient(rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.507)), url("./images/2.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  font-size: 35px;
}

.tiendafisica .tiendafisica-mainframe .mainframe-container {
  height: 100%;
  padding: 20px;
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.tiendafisica .tiendafisica-mainframe .mainframe-container .mainframe-title {
  text-align: center;
  color: #fff;
}

.tiendafisica .tiendafisica-mainframe .mainframe-container .mainframe-subtitle {
  font-family: "codel";
  text-align: right;
  padding: 20px;
}

.catalogo {
  height: 250vh;
}

.catalogo .title-container {
  position: relative;
  width: 100vw;
  max-width: 100%;
}

.catalogo .title-container .main-title {
  font-family: "codeb";
  color: #ec881e;
  background: #000;
  font-size: 50px;
  padding: 20px;
}

.catalogo .title-container .male-female {
  position: absolute;
  top: 50%;
  left: 85%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  font-size: 70px;
}

.catalogo .catalogo-mainframe {
  height: 70vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.527)), to(rgba(0, 0, 0, 0.534))), url("./images/3.png") no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.534)), url("./images/3.png") no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative;
  color: #fff;
}

.catalogo .catalogo-mainframe .catalogo-title {
  position: absolute;
  top: 20%;
  left: 80%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 60px;
}

.catalogo .catalogo-mainframe .catalogo-descripcion {
  position: absolute;
  top: 70%;
  left: 30%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 60px;
}

.catalogo .catalogo-mainframe .catalogo-descripcion .org-text {
  color: #ec881e;
}

.catalogo .tienda-container {
  width: 100vw;
  max-width: 100%;
  padding: 20px;
  text-align: center;
}

.catalogo .tienda-container .producto-container {
  width: 28%;
  margin: 10px 20px;
  display: inline-block;
}

.catalogo .tienda-container .producto-container .producto-image-container {
  width: 100%;
  height: 500px;
}

.catalogo .tienda-container .producto-container .producto-image-container .producto-image {
  width: 100%;
  height: 100%;
}

.catalogo .tienda-container .producto-container .producto-title {
  width: 100%;
  margin-top: 20px;
}

.catalogo .tienda-container .producto-container .producto-price {
  font-family: "codeb";
}

.catalogo .tienda-container .producto-container .producto-title,
.catalogo .tienda-container .producto-container .producto-price,
.catalogo .tienda-container .producto-container .producto-colores-title {
  text-align: right;
  font-size: 25px;
}

.catalogo .tienda-container .producto-container .colores-disponibles {
  text-align: right;
}

.catalogo .tienda-container .producto-container .colores-disponibles .rojo {
  width: 30px;
  height: 30px;
  background-color: #661515;
}

.catalogo .tienda-container .producto-container .colores-disponibles .verde {
  width: 30px;
  height: 30px;
  background-color: #27661b;
}

.catalogo .tienda-container .producto-container .colores-disponibles .amarillo {
  width: 30px;
  height: 30px;
  background-color: #8b8a22;
}

.catalogo .tienda-container .producto-container .colores-disponibles .rojo,
.catalogo .tienda-container .producto-container .colores-disponibles .verde,
.catalogo .tienda-container .producto-container .colores-disponibles .amarillo {
  display: inline-block;
}

.historia {
  background: #f8f8f8;
  height: 100vh;
}

.historia .title-container {
  position: relative;
  width: 100vw;
  max-width: 100%;
}

.historia .title-container .main-title {
  font-family: "codeb";
  color: #ec881e;
  background: #000;
  font-size: 50px;
  padding: 20px;
  padding-left: 150px;
}

.historia .historia-container {
  width: 90vw;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  font-size: 30px;
  margin-top: 50px;
  padding: 20px;
}

.historia .historia-container .historia-descripcion {
  font-family: "codeb";
  font-size: 60px;
}

.historia .historia-container .historia-image-container {
  display: inline-block;
  width: 40vw;
}

.historia .historia-container .historia-image-container .historia-image {
  width: 100%;
}

.newsletter {
  padding: 20px;
  text-align: center;
  font-family: "codel";
  height: 30vh;
  position: relative;
  text-transform: uppercase;
  color: #fff;
  width: 100vw;
  max-width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("./images/1.jpg") center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./images/1.jpg") center;
  background-size: cover;
  background-attachment: fixed;
  opacity: 1;
}

.newsletter .keep-updated {
  font-size: 2em;
  margin-bottom: 20px;
}

.newsletter .keep-updated span {
  color: #fff;
}

.newsletter .news-form .input-box {
  color: #fff;
  text-align: center;
  border: none;
  background: transparent;
  border-bottom: 2px solid #fff;
  font-size: 1.2em;
  width: 30%;
  height: 50px;
  display: inline-block;
  margin: 10px 20px;
  -webkit-transition: border-bottom 200ms ease-in-out, color 500ms ease-out;
  transition: border-bottom 200ms ease-in-out, color 500ms ease-out;
}

.newsletter .news-form .input-box:focus {
  color: #ec881e;
  border-bottom: 2px solid #ec881e;
}

.newsletter .btn {
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1.5em;
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
  padding: 5px 20px;
  position: absolute;
  -webkit-transition: color 500ms ease-out, background-color 500ms ease-in-out, -webkit-box-shadow 1s ease-out;
  transition: color 500ms ease-out, background-color 500ms ease-in-out, -webkit-box-shadow 1s ease-out;
  transition: color 500ms ease-out, background-color 500ms ease-in-out, box-shadow 1s ease-out;
  transition: color 500ms ease-out, background-color 500ms ease-in-out, box-shadow 1s ease-out, -webkit-box-shadow 1s ease-out;
  background: rgba(153, 153, 153, 0.205);
}

.newsletter .btn:hover {
  color: #ec881e;
  -webkit-box-shadow: 0px 0px 20px #fff;
          box-shadow: 0px 0px 20px #fff;
  background-color: #fff;
}

.footer {
  font-family: 'codeb';
  color: #000;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
}

.footer .social-network {
  border-radius: 50%;
  text-decoration: none;
  color: #000;
  font-size: 40px;
  margin: 20px 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 400ms ease-in-out, background-color 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  transition: color 400ms ease-in-out, background-color 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, color 400ms ease-in-out, background-color 200ms ease-in-out;
  transition: transform 200ms ease-in-out, color 400ms ease-in-out, background-color 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}
/*# sourceMappingURL=style.css.map */