* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: 'moon';
    src: url(fonts/moon/Moon2.0-Light.otf);


}

@font-face {
    font-family: 'Rale';
    src: url(fonts/raleway-master/webfonts/raleway_thin-webfont.woff);

}
@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }

}
body{
    font-size: 20px;
    color:white;

    padding: 0;
    margin:0;

}
html{
    padding: 0;
    margin:0;
    text-rendering: optimizeLegibility;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}


header{
    padding: 0;
    margin: 0;
    height: 100vh;
    background: linear-gradient(to right bottom, #111111, #070d29);
    background-size: 400% 400%;
    animation: Gradient 5s ease infinite;
}

.wrapper{

    display: flex;
    padding-top: 20px;
}


.box1{
    position: relative;
    font-size: 60%;
    word-wrap: break-word;
    background-color:black;
    text-align: center;
    width:  33.33%;
    height: 95vh;
    margin: 0px 10px;
    padding: 50px;
    border-radius: 50px;
    box-shadow: 0 0 10px 1px rgb(0, 0, 0);
}
.box1 h1{

    margin: 20px 0;
}

.box1 .projects, .box1 .skills{

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 300%;
    text-decoration: none;
    color: white;
    padding: 5px;
}
.box1 a{
    text-decoration: none;
}
.box1 a .projects{


}
.box1 .projects::before,
.box1 .projects::after {
    content: '';
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    transform: scaleX(0);
    transition: all .5s;

}
.box1 .projects::before{

    top: 0;
    transform-origin: left;

}
.box1 .projects::after{

    bottom: 0;
    transform-origin: right;

}
.box1 .projects:hover::before{

    transform: scale(1);

}
.box1 .projects:hover::after{

    transform: scale(1);

}

.project-button{
    background-image: linear-gradient(rgba(0, 0, 0, 0.363), rgba(0, 0, 0, 0.856)), url(code.jpg);
    background-size: cover;
    background-position: center;
}

.photo{
    width: 100%;
    margin-top: 15%;
    background-color: white;
    border-radius: 10%;
}

.photo-img{
    width: 100%;
    border-radius: 0;
    transform: scale(0.75);
    transition: .5s;
}
.photo-img:hover{
    transform: scale(0.85);
}
.social-icons{

    margin-top: 10%;
    font-size: 200%;
}
.social-icons i{
    
}
.ion-social-facebook,
.ion-social-twitter,
.ion-social-linkedin,
.ion-social-instagram {

    color: #ffffff;
    transition: color 0.3s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #00aced;
}

.ion-social-linkedin:hover {
    color: #0077B5;
}

.ion-social-instagram:hover {
    color: #517fa4;

}

.resume{
    text-decoration: none; 
    color:white;
    transition: 0.5s;
}
.resume:hover{
    font-size: 120%;
}

.box1 .skills{
    color: rgb(255, 217, 0);

    padding: 10px;
}
.skills-section{

    
    position: relative;
    background: linear-gradient(to right bottom, #111111, #070d29);
    background-size: 400% 400%;
    animation: Gradient 5s ease infinite;
}


.skills-front{

    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    backface-visibility: hidden;
    transition: .5s;
    transform: rotateX(0deg);

}
.card:hover .skills-front{

    transform: rotateX(-180deg);
}
.card:hover .skills-back{

    transform: rotateX(0deg);
}
.skills-back{
    position: absolute;
    left: 0;
    top:0;
    text-align: center;
    transform: rotateX(-180deg);
    backface-visibility: hidden;
    transition: .5s;
    display: flex;
    padding: 10%;
    flex-wrap:wrap;
    padding: 50px;
}
.skill-image-container{
    text-align: center;
    margin: 5px auto;
    width: 30%;
    border-radius: 10%;
    background-color: white;
}
.skill-image-container img{
    width: 100%;
    height: 100%;
    transform: scale(0.75);
    transition: .2s;
}
.skill-image-container img:hover{

    transform: scale(0.85);
    

}

/* ----------------- PROJECTS -------------------*/


section{

    padding: 0;
    margin: 0;

}

.projects-section{

    background: linear-gradient(to right bottom, #111111, #070d29);
    background-size: 400% 400%;
    animation: Gradient 5s ease infinite;
    margin: 0 auto;
}
.projects-container{
    text-align: CENTER;
    display:flex;
    padding: 50px;
    margin: 0 auto;
    
}
.project-container{
    width: 33.33%;
    padding: 20px;
    box-shadow: 0 0 10px 2px;
    margin: 0 auto;
    background-color: white;
}
.project-container h3{
    margin-bottom: 10px;
    color: black;
}
.project-container img{
    border: 5px solid black;
    box-shadow: 0 0 10px 5px;
    width: 100%;
    border-radius: 5%;
}
.project-container a:link,
.project-container a:visited{
    text-decoration: none;
    color:black;

}
.project-container .detalles{

    margin-top: 5%;
    text-align: left;
    COLOR:BLACK;
    display: flex;
}
.detalles ul{



    list-style: none;
    margin: 0 auto;
}
.detalles .access-link{
    
    font-size: 200%;
}
.web-description{

    color:black;
    margin-top: 20px;
 
    padding: 20px;
    box-shadow: 0px 0px 20px 2px;

}