@keyframes scale {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  to {
    transform: scale(1);
  }
}
@keyframes scaleBalls {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  to {
    transform: scale(1);
  }
}

@keyframes Cap {
  from {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5%);

  }
  to {
    transform: translateY(0);
  }
}

@keyframes PaintBall {
    from {
      transform: translate(0%, 0%);
    }
    50% {
        transform: translate(-20%,0)
  
    }
    to {
    }
  }
  